body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.font-colour{
    color: orange;
    text-decoration: none;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.flexible-web{
    display: flex;
    margin-bottom: 100px;
    
}
.link-adding{
    text-decoration: black;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: bold;
}
.poster{
    background-image: url(shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-allign{
    text-align: center;
    width:50%;
    padding-left: 25%;
    
}
h3{
    font-size: 30px;
}
.best-food{
    
    background-position: left;
    padding-bottom: 5%;

}
.review{
    width: 40%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    box-shadow: 10px 10px 60px gray;
}
#munch{
    border-left: 5px;
    border-image-slice: 1;
    text-align: justify;
    padding: 20px;
}
#munch img{
    width: 300px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 5%;
    
}
#roadside{
    border-left: 7px;
    border-image-slice: 1;
    text-align: justify;
    padding: 20px;
}
#roadside img{
    width: 300px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 5%;

}
#sweetsin{
    border-left: 7px;
    border-image-slice: 1;
    text-align: justify;
    padding: 20px;
}
#sweetsin img{
    width: 300px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 5%;
    
}
.new-class{
    width: 90%;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 60px grey;
    
}
#youtube{
    border-left: 5px;
    border-image-slice: 1;
    margin-left: 9%;
    
}
#instagram{
    border-left: 5px;
    border-image-slice: 1;
    margin-left: 20%;
}
#twitter{
    border-left: 5px;
    border-image-slice: 1;
    margin-left: 25%;
}
footer h3{
    text-align: center;
}
footer p{
    text-align: center;
}
.heading-colour{
    color:grey;
}
#footer-colour{
    color: honeydew;
}
footer{
    background:url("shapes/84-843418_background-black-darkblue-light-textures-texture-download-background.jpg"); 
    height: 200px; 
    width:100%; 
    overflow:hidden;
}
