body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.font-colour{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.flexible-web{
    display: flex;
    margin-bottom: 100px;
}
.link-adding{
    text-decoration: black;
    background-image: linear-gradient(orange,red);
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: bold;
}
.poster{
    background-image: url(shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-allign{
    text-align: center;
    width:50%;
    padding-left: 25%;
    
}
h3{
    font-size: 30px;
}
